.grid-select {
    position: relative;

    .extra-container{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        margin-right: 18px;
    }
}