@import '../../variables';
@import '../../colors';

.button {
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 2.5px;
  font-family: $font-family;

  .button-content {
    display: flex;
    align-items: center;
  }

  .icon-container {
    line-height: 0;
    margin-right: 4px;
  }

  &.x-small {
    padding: 0.35rem .50rem;
    font-size: .8rem;
  }

  &.small {
    padding: 0.5rem .75rem;
    font-size: .8rem;
  }

  &.medium {
    padding: .65rem 1rem;
    font-size: 1rem;
  }

  &.large {
    padding: .75rem 1.2rem;
    font-size: 1.2rem;
  }

  &.solid{
    &.default {
    background-color: $gray-30;
    color: #000;

    &:hover:enabled {
      background-color: $gray-40;
      color: #000;
    }
  }

  &.primary {
    background-color: $primary-20;
    color: $primary;

    &:hover:enabled {
      background-color: $primary-30;
    }
  }

  &.secondary {
    background-color: $secondary-20;
    color: $secondary;

    &:hover:enabled {
      background-color: $secondary-30;
    }
  }

  &.tertiary {
    background-color: $tertiary-20;
    color: $tertiary;

    &:hover:enabled {
      background-color: $tertiary-30;
    }
  }

  &.danger {
    background-color: $danger-20;
    color: $danger;

    &:hover:enabled {
      background-color: $danger-30;
    }
  }

  &.success {
    background-color: $success-20;
    color: $success;

    &:hover:enabled {
      background-color: $success-30;
    }
  }

  &.warning {
    background-color: $warning-20;
    color: $warning;

    &:hover:enabled {
      background-color: $warning-30;
    }
  }

  &.info {
    background-color: $info-20;
    color: $info;

    &:hover:enabled {
      background-color: $info-30;
    }
  }
}

  &.ghost {
    background-color: transparent;

    &:hover:enabled {
      background-color: #f2f2f2;
    }

    &.primary {
      color: $primary;
  
      &:hover:enabled {
        background-color: $primary-10;
      }
    }

    &.secondary {
      color: $secondary;
  
      &:hover:enabled {
        background-color: $secondary-10;
      }
    }

    &.tertiary {
      color: $tertiary;
  
      &:hover:enabled {
        background-color: $tertiary-10;
      }
    }

    &.success {
      color: $success;
  
      &:hover:enabled {
        background-color: $success-10;
      }
    }

    &.danger {
      color: $danger;
  
      &:hover:enabled {
        background-color: $danger-10;
      }
    }

    &.warning {
      color: $warning;
  
      &:hover:enabled {
        background-color: $warning-10;
      }
    }

    &.info {
      color: $info;
  
      &:hover:enabled {
        background-color: $info-10;
      }
    }
  }

  &.outline {
    background-color: $light;
    border: solid 1px $gray-80;
    color: $dark;

    &:hover:enabled {
      background-color: $gray-10;
    }

    &.primary {
      color: $primary;
      border: solid 1px $primary;
  
      &:hover:enabled {
        background-color: $primary-10;
      }
    }

    &.secondary {
      color: $secondary;
      border: solid 1px $secondary;
  
      &:hover:enabled {
        background-color: $secondary-10;
      }
    }

    &.tertiary {
      color: $tertiary;
      border: solid 1px $tertiary;
  
      &:hover:enabled {
        background-color: $tertiary-10;
      }
    }

    &.success {
      color: $success;
      border: solid 1px $success;
  
      &:hover:enabled {
        background-color: $success-10;
      }
    }

    &.danger {
      color: $danger;
      border: solid 1px $danger;
  
      &:hover:enabled {
        background-color: $danger-10;
      }
    }

    &.warning {
      color: $warning;
      border: solid 1px $warning;
  
      &:hover:enabled {
        background-color: $warning-10;
      }
    }

    &.info {
      color: $info;
      border: solid 1px $info;
  
      &:hover:enabled {
        background-color: $info-10;
      }
    }
  }

  &.circular {
    padding: 0.8rem;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-container {
      line-height: 0;
      margin-right: 0;
    }
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}