@import '../../variables';
@import '../../colors';

.button {
  border: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 2.5px;
  font-family: $font-family;

  .button-content {
    display: flex;
    align-items: center;
  }

  .icon-container {
    line-height: 0;
    margin-right: 4px;
  }

  &.small {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  &.medium {
    padding: .6rem 1.2rem;
    font-size: 1.2rem;
  }

  &.large {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
  }

  &.default {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;

    &:hover:enabled {
      background-color: #f2f2f2;
      color: #000;
      border: 1px solid #ccc;
    }
  }

  &.primary {
    background-color: $primary;
    color: get-contrast-color($primary);

    &:hover:enabled {
      background-color: $primary-hover;
    }
  }

  &.secondary {
    background-color: $secondary;
    color: get-contrast-color($secondary);

    &:hover:enabled {
      background-color: $secondary-hover;
    }
  }

  &.tertiary {
    background-color: $tertiary;
    color: get-contrast-color($tertiary);

    &:hover:enabled {
      background-color: $tertiary-hover;
    }
  }

  &.danger {
    background-color: $danger;
    color: get-contrast-color($danger);

    &:hover:enabled {
      background-color: $danger-hover;
    }
  }

  &.success {
    background-color: $success;
    color: get-contrast-color($success);

    &:hover:enabled {
      background-color: $success-hover;
    }
  }

  &.warning {
    background-color: $warning;
    color: get-contrast-color($warning);

    &:hover:enabled {
      background-color: $warning-hover;
    }
  }

  &.info {
    background-color: $info;
    color: get-contrast-color($info);

    &:hover:enabled {
      background-color: $info-hover;
    }
  }

  &.circular {
    padding: 0.8rem;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-container {
      line-height: 0;
      margin-right: 0;
    }
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}