.list {
    list-style: none;
    padding: 0;
    margin: 0;
  
    .list-item {
      border: 1px solid #ccc;
      padding: 12px;
      margin-bottom: 8px;
      transition: background-color 0.2s ease;
      border-radius: 5px;
  
      &.hover {
        &:hover {
          background-color: #ddd;
            cursor: pointer;
        }
      }
  
      .title {
        margin-top: 0;
        margin-bottom: 4px;
      }
  
      .description {
        margin-top: 0;
        margin-bottom: 12px;
      }
    }
  }
  