.label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    .input-container {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }

    &.side {
        flex-direction: row;
        align-items: center;

        .label-text {
            margin-right: 5px;
        }
    }
  }
  