@import '../../variables';

$indicator-padding: 2px;
$multi-select-value-background-color: #e9e0f8;

.select__option {
    font-family: $font-family;
    font-size: .8rem !important;
}

.select__value-container {
    font-family: $font-family;
    font-size: .8rem;
    height: 30px !important;
}

.select__control {
    box-shadow: none;
    min-height: 30px !important;

    &.select__control--is-focused {
        box-shadow: none;

        .select__dropdown-indicator {
            padding: $indicator-padding !important;
        }
    }

    .select__multi-value__label {
        background-color: $multi-select-value-background-color;
    }

    .select__multi-value__remove {
        background-color: $multi-select-value-background-color;
    }
}

.select__dropdown-indicator {
    padding: $indicator-padding !important;
}

.select__clear-indicator {
    padding: $indicator-padding !important;
}