@import '../../colors';

.divider {
  background-color: $border-color;

  &[data-orientation='horizontal'] {
    height: 1px;
    width: 100%;
    &.margin {
      margin: 15px 0;
    }
  }
  &[data-orientation='vertical'] {
    height: 100%;
    width: 1px;
    &.margin {
      margin: 0 15px;
    }
  }

}