// Font family
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-monospaced: 'Roboto Mono', monospace;

// Font sizes
$font-size-h1: 35px;
$font-size-h2: 29px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 14px;
$font-size-base: 15px;
$font-size-p1: 13px;
$font-size-p2: 12px;
$font-size-p3: 11px;

// Line heights
$line-height-h1: 40px;
$line-height-h2: 32px;
$line-height-h3: 28px;
$line-height-h4: 24px;
$line-height-h5: 20px;
$line-height-h6: 16px;
$line-height-base: 24px;
$line-height-p1: 22px;
$line-height-p2: 20px;

// Font weights
$font-weight-h1: 500;
$font-weight-h2: 600;
$font-weight-h3: 500;
$font-weight-h4: 500;
$font-weight-h5: 600;
$font-weight-h6: 600;
$font-weight-base: 400;

// Letter spacing
$letter-spacing-h1: -0.01em;
$letter-spacing-h2: -0.01em;
$letter-spacing-h3: -0.01em;
$letter-spacing-h4: -0.0008em;
$letter-spacing-h5: -0.006em;
$letter-spacing-h6: -0.003em;
$letter-spacing-base: 0;

// Margins
$margin-top-h1: 52px;
$margin-top-h2: 40px;
$margin-top-h3: 40px;
$margin-top-h4: 28px;
$margin-top-h5: 24px;
$margin-top-h6: 16px;
$margin-top-base: 0;

// Borders
$border-radius-small: 2.5px;
$border-radius-circle: 50%;

$border-width-thin: 1px;
$border-width-thick: 2px;

$border-style-solid: solid;
$border-style-dashed: dashed;
$border-style-dotted: dotted;