$primary-color: #6633cc;
$primary-hover-color: #5c2c9f;

$secondary-color: #fdbf3d;
$secondary-hover-color: #e3a634;

$background-color: #f8f4fe;

$text-color: #000000e0;

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
